.category-card-02 {
  &__inner {
    height: 100%;
    display: flex;
    // overflow: hidden;
    position: relative;
    flex-direction: column;

    @media ($transition-min) {
      transform: translateY(0);
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-5px);

        @extend %category-card-hover !optional;
      }
    }
  }
  &__iw {
    margin-bottom: 20px;
    padding-bottom: 62.5%;

    @media ($transition-min) {
      transform: translateY(0);
      transition: transform 0.3s;

      %category-card-hover & {
        transform: translateY(-3px);
      }
    }

    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      background-color: var(--white);

      @media ($transition-min) {
        transition: opacity 0.3s;

        %category-card-hover & {
          opacity: 0.1;
        }
      }
    }

    img {
      @media ($transition-min) {
        transition: transform 0.3s;
        %category-card-hover & {
          transform: translate(-50%, -50%) scale(1.05);
        }
      }
    }
  }
  &__header {
    align-items: center;
    margin-bottom: auto;
    @include row(8px, 16px, true);
  }
  &__link {
    color: var(--primary-c);

    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      content: "";
      display: block;
      position: absolute;
    }
  }
  &__tags {
    z-index: 2;
    position: relative;
  }
  &__tags-list {
    @include row(5px, 5px, true);
  }
  // &__tags-item {}
  &__tags-link {
    color: inherit;
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--secondary-c);

    @media ($transition-min) {
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        color: var(--white);
        background-color: var(--primary-c);
      }
    }
  }
  &__extra {
    margin-top: 5px;
    align-items: center;
    @include row(10px, 30px, true);
  }
  &__extra-item {
    display: flex;
    font-weight: 300;
    align-items: center;

    svg {
      color: var(--primary-c);
      margin-right: 8px;
    }
    span {
      margin-left: 0;
      font-weight: 700;
    }
  }
}
