@use "sass:color";

$apartment-available: #236c17;
$apartment-available-hover: #17480f;

$apartment-reserved: #6c1717;
$apartment-reserved-hover: #460a0a;

.plan {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  user-select: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @extend %plan !optional;

  &__overlay {
    left: 15px;
    bottom: 15px;
    border: 2px solid var(--grey-50);
    z-index: 1;
    padding: 0.3em 0.7em;
    position: absolute;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: color.change($primary-color, $alpha: 0.1);

    @media ($mobile-max) {
      left: 10px;
      bottom: 10px;
    }

    > * + * {
      margin-left: 0.5em;
    }
  }
  &__info {
    color: var(--primary-c);
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
  }
  &__controls {
    top: 15px;
    right: 15px;
    z-index: 1;
    display: flex;
    position: absolute;
    flex-direction: column;

    @media ($mobile-max) {
      top: 10px;
      right: 10px;
    }

    > * + * {
      margin-top: 8px;
    }
  }
  &__btn {
    color: var(--primary-c);
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-c);
    transform: translateY(-0.001px);
    border-radius: 10px;
    background-color: var(--secondary-c);

    @media ($desktop-min) {
      width: 36px;
      height: 36px;
    }
    @media ($desktop-min) {
      transition:
        background-color var(--transition),
        color var(--transition);

      &:hover {
        color: var(--white);
        background-color: var(--primary-c);
      }
    }

    svg {
      color: inherit;
      width: calc(50% + 4px);
      height: calc(50% + 4px);
    }
  }

  [data-country] {
    fill: var(--primary-c-60);

    &.active {
      fill: var(--secondary-c);
      cursor: pointer;

      @media ($desktop-min) {
        &:hover {
          fill: var(--primary-c);
        }
      }
    }

    // &.booked {
    //   fill: $apartment-reserved;
    //   cursor: move;

    //   @media ($desktop-min) {
    //     &:hover {
    //       fill: $apartment-reserved;
    //     }
    //   }
    // }
    // &.active {
    //   fill: var(--secondary-c);

    //   @media ($desktop-min) {
    //     &:hover {
    //       fill: var(--white);
    //     }
    //   }
    // }
  }

  > svg {
    color: var(--primary-c-60);
    width: 90%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    touch-action: none;
  }
}
.plan-wrapper {
  @extend %plan-wrapper !optional;
}
.qm-plan {
  stroke-width: calc(0.4px / var(--zoom));
}
// .plan-gallery {
//   top: 15px;
//   left: 15px;
//   height: 6rem;
//   border: 2px solid $dark-80;
//   opacity: 0;
//   z-index: 1;
//   display: flex;
//   padding: 0.6rem;
//   position: absolute;
//   max-width: calc(100% - 76px); // button + 3 gaps
//   overflow-x: auto;
//   overflow-y: hidden;
//   visibility: hidden;
//   transition:
//     opacity 0s,
//     visibility 0s;
//   border-radius: 8px;
//   backdrop-filter: blur(10px);
//   background-color: change-color($primary-color, $alpha: 0.1);

//   @media ($mobile-max) {
//     top: 10px;
//     left: 10px;
//   }

//   &.active {
//     opacity: 1;
//     visibility: visible;
//     transition:
//       opacity 0.2s,
//       visibility 0.2s;
//   }

//   &__image {
//     width: 6rem;
//     height: 100%;
//     border: 1px solid $primary-accent;
//     display: none;
//     flex-shrink: 0;
//     border-radius: 4px;

//     &.active + & {
//       margin-left: 0.6rem;
//     }
//     &:nth-child(n + 4) {
//       display: none;
//     }

//     &.active {
//       display: block;
//     }
//   }
//   [data-gallery]::before {
//     top: 8px;
//     right: 8px;
//     width: 30px;
//     height: 30px;
//     background-size: 13px auto;

//     @media ($mobile-max) {
//       top: 5px;
//       right: 5px;
//       width: 25px;
//       height: 25px;
//       min-width: 25px;
//       min-height: 25px;
//     }
//   }
// }
