<div class="card-visa cv@@if(context.plane){ _plane}">
  <div class="cv__inner">
    @@if(context.image){
    <p class="_iw">
      <img src="@@image" alt="@@title" srcset="images/placeholder.png" data-srcset="@@image"
        width="527" height="383" decoding="async">
    </p>
    }
    <div class="cv__content">
      <p class="cv__title _title">@@title</p>
      @@if(context.text){<div class="cv__text _cc">@@text</div>}
      <a href="@@url" class="cv__link _btn _btn--pseudo@@if(context.btnClass){ @@btnClass}" data-title="Подробнее">@@title</a>
      @@if(context.popup){<button class="cv__button _btn _btn--pseudo" type="button" data-open-popup="request-a-call" data-title="Заказать">@@title</button>}
    </div>
  </div>
</div>