<div class="custom-slide">
  <div class="custom-slide__shapes">
    <div class="custom-slide__shape custom-slide__shape-01"></div>
    <div class="custom-slide__shape custom-slide__shape-02"></div>
    <div class="custom-slide__shape custom-slide__shape-03"></div>
    <div class="custom-slide__shape custom-slide__shape-04"></div>
  </div>
  <div class="custom-slide__jars">
    <div class="custom-slide__jar custom-slide__jar-01">
      <div class="custom-slide__leafs"></div>
      <img src="images/main-banner/jar-03.png" alt="название бада с коробки" width="477" height="874">
    </div>
    <div class="custom-slide__jar custom-slide__jar-02">
      <img src="images/main-banner/jar-02.png" alt="название бада с коробки" width="240" height="445">
    </div>
    <div class="custom-slide__jar custom-slide__jar-03">
      <img src="images/main-banner/jar-01.png" alt="название бада с коробки" width="176" height="193">
    </div>
  </div>
</div>