<div class="house" @@if(context.animate){data-animate="appearing"}>
  <div class="house__item house__roof">
    <svg width="523" height="389">
      <use href="images/icons.svg#house-roof"></use>
    </svg>
  </div>
  <div class="house__item house__wall-01">
    <svg width="269" height="274">
      <use href="images/icons.svg#house-wall-01"></use>
    </svg>
  </div>
  <div class="house__item house__wall-02">
    <svg width="230" height="251">
      <use href="images/icons.svg#house-wall-02"></use>
    </svg>
  </div>
</div>