<div class="rating-widget rw" data-review-rating="" data-rating="4.4">
  <div class="rw__stars">
    <div>Наш рейтинг</div>
    <div class="rw__star" data-star="">
      <svg width="32" height="30" aria-hidden="true">
        <use href="images/icons.svg#star-rating"></use>
      </svg>
    </div>
    <div class="rw__star" data-star="">
      <svg width="32" height="30" aria-hidden="true">
        <use href="images/icons.svg#star-rating"></use>
      </svg>
    </div>
    <div class="rw__star" data-star="">
      <svg width="32" height="30" aria-hidden="true">
        <use href="images/icons.svg#star-rating"></use>
      </svg>
    </div>
    <div class="rw__star" data-star="">
      <svg width="32" height="30" aria-hidden="true">
        <use href="images/icons.svg#star-rating"></use>
      </svg>
    </div>
    <div class="rw__star" data-star="">
      <svg width="32" height="30" aria-hidden="true">
        <use href="images/icons.svg#star-rating"></use>
      </svg>
    </div>
    <div>4,4/5</div>
  </div>
  <p class="rw__description">На основании 165 <a href="#">отзывов</a></p>
</div>