<div class="author">
  <div class="author__header">
    <div class="author__header-group">
      <p class="author__title _heading _h2 _heading_no-transform">Сигейкина Екатерина</p>
      <p class="author__position">Директор визового направления</p>
    </div>
    @@include('./src/html/components/socials.html', { telegram: true, solid: false })
  </div>
  <p class="author__quote">
    Lorem ipsum dolor sit amet consectetur. Proin pulvinar justo eget gravida blandit amet mi. Magna commodo viverra
    dolor dolor amet vel consequat molestie. Augue cursus tincidunt phasellus integer tempus venenatis id amet mattis.
    Quis at at eget cursus in eu in tempor sed. Tellus tortor nisi velit eu augue mi libero. Adipiscing aliquam vitae
    amet vivamus amet ac risus leo feugiat. Orci enim aliquet nec amet tortor maecenas vitae. Felis nibh sagittis
    risus ultricies ridiculus massa augue. Ut mi tincidunt nisi euismod in quam sem sagittis.
  </p>
</div>