<div class="counter" data-counter-container="">
  <button class="counter__button" data-action="minus" type="button">
    -<span class="_sr-only">Уменьшить на еденицу</span>
  </button>
  <label>
    <span class="_sr-only">Количество</span>
    <input class="counter__input" type="number" name="count" min="1" max="999" step="1" value="1" data-target="">
  </label>
  <button class="counter__button" data-action="plus" type="button">
    +<span class="_sr-only">Увеличить на еденицу</span>
  </button>
</div>