<div class="director dir">
  <div class="dir__items">
    @@include('./src/html/components/image.html', {
      src: 'images/team/deshukos.jpg',
      alt: 'Сергей Дешук',
      orientation: 'square',
      width: 400,
      height: 400,
      class: 'image--grayscale image--scale'
    })
    <div class="dir__item dir__item_info">
      <span class="_title">Сергей Дешук</span>
      <div class="dir__position _cc">Директор<br>Учредитель</div>
    </div>
    <div class="dir__item dir__item_text">
      <div class="dir__text _cc">
        <p>Вы можете написать любой интересующий Вас вопрос или оставить комментарий о работе нашей компании.<br>Директор просматривает каждый запрос ЛИЧНО!<br>Наш разговор будет конфиденциальным!<br>CWEB – онлайн присутствие - оффлайн успех!!</p>
      </div>
      <span class="dir__author">© Сергей Дешук - Директор</span>
    </div>
  </div>
</div>