<div class="form-contacts">
  <div class="form-contacts__items">
    <div class="form-contacts__item">
      <span class="form-contacts__title _title">По телефону:</span>
      @@include('./src/html/components/messengers.html')
    </div>
    <div class="form-contacts__item">
      <span class="form-contacts__title _title">Написать на почту</span>
      @@include('./src/html/components/email.html')
    </div>
    <div class="form-contacts__item">
      <span class="form-contacts__title _title">Визит офиса</span>
      @@include('./src/html/components/schedule.html')
    </div>
  </div>
</div>