<div class="offer">
  <div class="offer__inner">
    <div class="offer__top">
      <span class="offer__title _title">Архитектурный проект</span>
    </div>
    <div class="offer__bottom">
      <p class="offer__price">от 500 руб.</p>
      <div class="offer__text _cc">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur</li>
          <li>Lorem ipsum dolor sit amet, consectetur</li>
          <li>Lorem ipsum dolor sit amet, consectetur</li>
          <li>Lorem ipsum dolor sit amet, consectetur</li>
          <li>Lorem ipsum dolor sit amet, consectetur</li>
        </ul>
      </div>
      @@if(false){<a href="offer-page" class="offer__link _btn">Оставить заявку</a>}
      <button class="offer__link _btn" type="button" data-open-popup="request-a-consultation">Оставить заявку</button>
    </div>
  </div>
</div>