<button class="scroll-top st" type="button" aria-label="Вверх">
  <span class="st__inner">
    <svg class="st__progress" width="74" height="74" viewBox="0 0 54 54" fill="none"
      xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <rect class="st__path" x="5" y="5" width="45" height="45" rx="45" stroke="currentColor" stroke-width="2"
        stroke-miterlimit="16" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="190"
        stroke-dashoffset="190" />
    </svg>
    <svg class="st__arrow" width="24" height="24" aria-hidden="true">
      <use href="images/icons.svg#arrow"></use>
    </svg>
  </span>
  @@if(false){<span class="st__title">Вверх</span>}
</button>