<ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front"
  style="width: 447.633px; top: 124.5px; left: 1163.57px; display: none;">
  <li class="mse2-ac-wrapper ui-menu-item">
    <div class="mse2-ac-link ui-menu-item-wrapper ui-state-active" id="ui-id-2" tabindex="-1">
      <div class="search-category">
        <div class="search-category__inner">
          <a class="search-category__title" href="spa-basseyny">
            <span class="_btn _btn--nav">
              <svg width="30" height="12">
                <use href="images/icons.svg#chevron-right"></use>
              </svg>
            </span>
            <span class="_title">Спа-бассейны</span></a>
        </div>
      </div>
    </div>
  </li>
  <li class="mse2-ac-wrapper ui-menu-item">
    <div class="mse2-ac-link ui-menu-item-wrapper ui-state-active" id="ui-id-3" tabindex="-1">
      <div class="search-product">
        <div class="search-product__inner">
          @@if(context.images){<p class="search-product__iw _iw _iw--contain">
            <img src="images/products/example-font-01.png" alt="Cпа-бассейн Wellis Saturn">
          </p>}
          <div class="search-product__content-wrapper">
            <div class="search-product__content">
              <a class="search-product__title" href="cpa-basseyn-wellis-saturn">Cпа-бассейн Wellis Saturn</a>
              <div class="search-product__features">
                <p>Количество мест: <strong>5</strong></p>
                <p>Коллекция: <strong>My line</strong></p>
                <p>Размеры бассейна (ДхШхВ): <strong>230 х 230 х 88 см</strong></p>
                <p>Общее количество форсунок: <strong>50</strong></p>
              </div>
            </div>
            <div class="search-product__price _title">
              158 BYN
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="mse2-ac-wrapper ui-menu-item">
    <div class="mse2-ac-link ui-menu-item-wrapper" id="ui-id-4" tabindex="-1">
      <div class="search-product">
        <div class="search-product__inner">
          @@if(context.images){<p class="search-product__iw _iw _iw--contain">
            <img src="images/products/example-font-01.png" alt="Cпа-бассейн Wellis Saturn">
          </p>}
          <div class="search-product__content-wrapper">
            <div class="search-product__content">
              <a class="search-product__title" href="cpa-basseyn-wellis-saturn">Cпа-бассейн Wellis Saturn</a>
              <div class="search-product__features">
                <p>Количество мест: <strong>5</strong></p>
                <p>Коллекция: <strong>My line</strong></p>
                <p>Размеры бассейна (ДхШхВ): <strong>230 х 230 х 88 см</strong></p>
                <p>Общее количество форсунок: <strong>50</strong></p>
              </div>
            </div>
            <div class="search-product__price _title">
              158 BYN
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="mse2-ac-wrapper ui-menu-item">
    <div class="mse2-ac-link ui-menu-item-wrapper" id="ui-id-5" tabindex="-1">
      <div class="search-category">
        <div class="search-category__inner">
          <a class="search-category__title" href="spa-basseyny">
            <span class="_btn _btn--nav">
              <svg width="30" height="12">
                <use href="images/icons.svg#chevron-right"></use>
              </svg>
            </span>
            <span class="_title">Спа-бассейны</span></a>
        </div>
      </div>
    </div>
  </li>
  <li class="mse2-ac-wrapper ui-menu-item">
    <div class="mse2-ac-link ui-menu-item-wrapper" id="ui-id-6" tabindex="-1">
      <div class="search-product">
        <div class="search-product__inner">
          @@if(context.images){<p class="search-product__iw _iw _iw--contain">
            <img src="images/products/example-font-01.png" alt="Cпа-бассейн Wellis Saturn">
          </p>}
          <div class="search-product__content-wrapper">
            <div class="search-product__content">
              <a class="search-product__title" href="cpa-basseyn-wellis-saturn">Cпа-бассейн Wellis Saturn</a>
              <div class="search-product__features">
                <p>Количество мест: <strong>5</strong></p>
                <p>Коллекция: <strong>My line</strong></p>
                <p>Размеры бассейна (ДхШхВ): <strong>230 х 230 х 88 см</strong></p>
                <p>Общее количество форсунок: <strong>50</strong></p>
              </div>
            </div>
            <div class="search-product__price _title">
              158 BYN
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>