<!-- <div class="uslugi us">
    <p class="us__subheading _title">Для решения поставленных задач выполняется комплекс необходимых работ. Для оптимизации и расширения функционала ПО специалист осуществляет:</p>
    <div class="us__items">
        <div class="us__item">
            <div class="us__inner">
                <p class="us__text">
                    доработку и настройку составляющих системы
                </p>
            </div>
        </div>
        <div class="us__item">
            <div class="us__inner">
                <p class="us__text">
                    интеграцию 1С с сайтом заказчика
                </p>
            </div>
        </div>
        <div class="us__item">
            <div class="us__inner">
                <p class="us__text">
                    подключение программного обеспечения к оборудованию
                </p>
            </div>
        </div>
        <div class="us__item">
            <div class="us__inner">
                <p class="us__text">
                    устранение лишних интеграций, ускорение обработки процессов
                </p>
            </div>
        </div>
        <div class="us__item">
            <div class="us__inner">
                <p class="us__text">
                    создание бланков отчетов, форм и других документов
                </p>
            </div>
        </div>
        <div class="us__item">
            <div class="us__inner">
                <p class="us__text">
                    подключение клиент-банка
                </p>
            </div>
        </div>
        <div class="us__item">
            <div class="us__inner">
                <p class="us__text">
                    добавление функции автоматического заполнения
                </p>
            </div>
        </div>
        <div class="us__item">
            <div class="us__inner">
                <p class="us__text">
                    внедрение всех необходимых функций и усовершенствование существующих
                </p>
            </div>
        </div>
    </div>
</div> -->