.image-comparison {
  // &__heading {
  // }
  &__items {
    justify-content: center;
    @include row(3.125rem, 3.125rem);

    @media ($tablet-max) {
      @include row-breakpoint(2rem, 2rem);
    }

    > * {
      flex: 1 1 33.3333%;
      max-width: 33.3333%;

      @media ($tablet-max) and ($tablet-min) {
        max-width: 50%;
        flex-basis: 50%;
      }
      @media ($mobile-max) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }
  // &__item {
  // }
  &__buttons {
    margin-top: 1.125rem;
    justify-content: center;
    @include row(2rem, 2rem, true);
  }
  // &__button {
  // }
}
