.portfolio-entry {
  @extend %portfolio-entry !optional;

  // &__heading {}
  &__wrapper {
    // align-items: flex-start;
    @include row($gapB: 3.125rem, $gapL: 3.125rem);

    > * {
      @media ($tablet-mid) {
        &:nth-child(1) {
          flex: 1 1 42%;
          max-width: 42%;
        }
        &:nth-child(2) {
          flex: 1 1 58%;
          max-width: 58%;
        }
      }
      // @media ($tablet-max) and ($tablet-mid) {
      //   &:nth-child(1) {
      //     flex: 1 1 40%;
      //     max-width: 40%;
      //   }
      //   &:nth-child(2) {
      //     flex: 1 1 60%;
      //     max-width: 60%;
      //   }
      // }
      @media ($tablet-mad) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }
  &__item {
    &_sliders {
      order: -1;
      position: relative;
    }
  }
  &__sliders-wrapper {
    // height: 100%;
    @extend %sticky-element;
  }
  &__main-items {
    flex-grow: 1;
    flex-direction: column;
    @include row(20px, 20px);
  }
  &__separator {
    border-top: 1px solid var(--items-border);
    margin-left: 20px;
  }
  &__info {
    color: var(--text-l);
    font-weight: 400;

    @media ($desktop-min-xl) {
      font-size: 18px;
    }

    a {
      font-weight: 700;
    }
  }
  &__description {
    margin-top: 1.875rem;

    %_h3 {
      font-weight: 900;
    }
    > * {
      max-width: 1140px;
    }
  }
  &__features {
    color: var(--text-l);
    font-size: 18px;
    line-height: 1;
    align-items: center;
    @include row(20px, 20px, true);

    @media ($tablet-max) and ($tablet-min) {
      font-size: 16px;
    }
    @media ($mobile-max) {
      font-size: 14px;
    }

    p {
      display: flex;
      align-items: center;
    }
    svg {
      margin-right: 10px;
    }
    b,
    strong {
      color: var(--primary-c);
      white-space: nowrap;
    }
    span {
      margin-right: 10px;

      @media ($mobile-max) {
        display: none;
      }
    }
  }
  // &__review {}
  %review {
    max-width: 62.375rem;
  }
  %product {
    max-width: 385px;
  }
  %product-inner {
    text-align: left;
  }
  %product-bottom {
    justify-content: flex-start;
  }
  %image-wrapper {
    padding-bottom: 74.86%;
  }
}
