.video-text {
  &__items {
    justify-content: center;
    @include row(3.125rem, 3.125rem);

    > * {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  // &__item {
  // }
  &__text {
    margin: 0 auto;
    max-width: 1150px;
  }
}
