<div class="banner-categories">
  <ul class="banner-categories__items">
    <li class="banner-categories__item">
      <a href="category-01" class="banner-categories__link _btn _btn--transparent _btn--big">Мобильные здания</a>
    </li>
    <li class="banner-categories__item">
      <a href="category-01" class="banner-categories__link _btn _btn--transparent _btn--big">Двери</a>
    </li>
    <li class="banner-categories__item">
      <a href="category-01" class="banner-categories__link _btn _btn--transparent _btn--big">Заборы</a>
    </li>
    <li class="banner-categories__item">
      <a href="category-01" class="banner-categories__link _btn _btn--transparent _btn--big">Сэндвич-панели</a>
    </li>
  </ul>
</div>